

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/orient.jpg);
  background-size: cover;
  background-color: white;
  font-family: 'Dancing Script', cursive;
  color: #333;
}

h1,
h2.title,
h3 {
  font-size: 36px;
  color: #333;
  padding: 10px 10px 10px 0;
}


.nome h2 {
  text-align: center;
  font-size: 16px;
}

h3#nome-passeggero {
  font-size: 26px;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-size: 22px;;
}


/* UTILITY */
.show {
  opacity: 1;
  transition: opacity 1s;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.row:last-child {
  justify-content: center;
  margin-bottom: 0px;
}

.row:last-child button {
  margin: 20px;
}

.col {
  display: flex;
  flex-basis: 200px;
  flex-direction: column;
}

.btn {
  padding: 9px 33px;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #593034;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 3px 0px #6b6060;
}

.btn:hover {
  background-color: #03383d;
}

.btn:active {
  background-color: rgb(172, 29, 15);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.title {
  color: #333;
  padding: 40px 0;
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

/* DATI INPUT */
.dati-input {
  min-height: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: #161c42d4;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

/* BIGLIETTO */
#biglietto {
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding: 20px 0;
}

#biglietto::before,
#biglietto::after {
  content: '';
  position: absolute;
  background-color: #363a56;
  height: 20px;
  width: 100%;
  border-radius: 10px;
}

#biglietto::before {
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#biglietto::after {
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#biglietto:hover {
  background-color: #f2f4aa;
  border: 4px solid rgba(189, 210, 217, 0.92);
  border-radius: 20px;
  margin-top: -200px;
  transform: rotate(-18deg);
  transition: ease-out 1s;
}

.contenuti {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offerta {
  padding: 0px 20px 20px 20px ;
  text-align: center;
}
